body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  margin-right: 3px;
  margin-left: 5px;
}

select {
  width: 162px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid rgb(61, 61, 61);
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition-duration: 0.4s;
}

thead button:hover {
  background-color: #bcd8ff;
  cursor: pointer;
}

thead button.ascending {
  background-color: #bcd8ff;
}

thead button.ascending::after {
  content: '↑';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending {
  background-color: #bcd8ff;
}

thead button.descending::after {
  content: '↓';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody td a {
  width: 100%;
  display: block;
}

tbody td a,
a:visited {
  color: black;
}

tbody tr:hover {
  background-color: #eee;
}

.spacing {
  margin-top: 16px;
  margin-bottom: 12px;
}

.small-spacing {
  margin-top: 6px;
}

.extra-spacing {
  margin-top: 9px;
}

.middle-spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.top-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.rowC {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.all-button-style {
  background: none;
  border: none;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 12px;
  transition-duration: 0.4s;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.all-button-style:hover {
  cursor: pointer;
  background-color: #bcd8ff;
}

.center {
  margin: 0 auto;
  padding-top: 5px;
}

.popup-content {
  background: #fff;
  border: 1px solid #d7d7d7;
  margin: auto;
  width: 25%;
}

.modal {
  font-size: 12px;
}

.modal>.header {
  width: 100%;
  /* border-bottom: 1px solid gray; */
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.content {
  width: 100%;
  padding: 10px 5px;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}