body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  margin-right: 3px;
  margin-left: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 1px solid rgb(61, 61, 61);
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition-duration: 0.4s;
}

thead button:hover {
  background-color: #bcd8ff;
  cursor: pointer;
}

thead button.ascending {
  background-color: #bcd8ff;
}

thead button.ascending::after {
  content: '↑';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending {
  background-color: #bcd8ff;
}

thead button.descending::after {
  content: '↓';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

.spacing {
  margin-top: 16px;
  margin-bottom: 12px;
}

.small-spacing {
  margin-top: 6px;
}

.extra-spacing {
  margin-top: 9px;
}

.middle-spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.top-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.rowC {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

